.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
}


/* 16x9 Aspect Ratio */

.iframe-container-16x9 {
    padding-bottom: 56.25%;
}


/* 4x3 Aspect Ratio */

.iframe-container-4x3 {
    padding-bottom: 75%;
}

.iframe-container {
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
