.insert-media {
    .btn-div {
        width: 100%;
        text-align: right;
        background: #f5f5f5;
        padding: 1rem;
    }
    &.modal-content {
        padding: 0 !important;
        h4 {
            padding: 0.625rem 1rem !important;
        }
        ul {
            padding-left: 1rem;
        }
    }
    .table {
        td {
            min-width: auto;
            width: auto;
            padding: 1rem 0.625rem;
        }
    }
}

@media(min-width:769px) {
    .input-group-row {
        display: inline-block;
        width: 100%;
        .left {
            width: 70%;
            float: left;
        }
        .right {
            width: calc(30% - 1rem);
            float: left;
            margin-left: 1rem;
        }
    }
}
