$loaderColor: #00ABEB;

.box {
  position: absolute;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 200px;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  margin-top: 30px;
  position: relative;
  color: $loaderColor;
  left: -100px;
  box-sizing: border-box;
  opacity: 0.6;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 $loaderColor, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 $loaderColor, 100px 0 $loaderColor, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 $loaderColor, 110px 0 $loaderColor, 100px 0 $loaderColor, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 $loaderColor, 120px 0 $loaderColor, 110px 0 $loaderColor, 100px 0 $loaderColor;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 $loaderColor, 120px 0 $loaderColor, 110px 0 $loaderColor;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 $loaderColor, 120px 0 $loaderColor;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 $loaderColor;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
