.site-footer {
    color: $white;
    .footer-menu {
        ul {
            @include list-unstyled;
            a {
                color: $white;
            }
        }
        .social-section {
            li {
                padding: 0.2em;
                display: inline-block;
            }
            .social-icon {
                width: 2em;
                height: 2em;
                @include flex-center;
                border: 1px solid $white;
                font-size: 0.9em;
                @include hover-focus {
                    text-decoration: none;
                    background: lighten($white, 10%);
                    color: $gray-dark;
                    @include transition(all 0.3s linear);
                }
            }
        }
        .transparent-bg {
            color: $white;
            option {
                background: $gray-dark;
            }
        }
    }
}
