$header-height: 5rem;
.site-header {
    height: $header-height;
    &.banner {
        background-image: url(../images/2.jpg);
        @include img-inbg;
        padding-bottom: 25%;
        background-position: bottom;
        color: $white;
    }
    .logo {
        &:hover {
            text-decoration: none;
        }
        h1 {
            color: $white;
            margin-bottom: 0;
        }
    }
    .nav-menu {
        padding-top: 0.75em;
        ul {
            @include list-unstyled;
            margin-bottom: 0;
            li {
                display: inline-block;
                padding: 0 0.5em;
                a {
                    color: $white;
                }
            }
        }
    }
}
