@mixin review-card {
    &:hover {
        text-decoration: none;
    }
    .featured {
        @include img-inbg;
        padding-bottom: 56%;
    }
    p {
        margin-bottom: 0.5rem;
    }
    .user-name {
        margin-bottom: 0;
        font-weight: bold;
    }
    .user-review-statement {
        color: $gray;
    }
    .total-review {
        padding: 0 0.2rem;
        border-radius: 2px;
        color: $white;
        font-weight: 600;
    }
    .star {
        color: $brand-warning;
    }
    .card-details {
        position: relative;
        padding: 2em 0.5em 0.5em 0.5em;
        .user-profile {
            width: 4.5em;
            height: 4.5em;
            display: inline-block;
            overflow: hidden;
            background: $gray-lighter;
            position: absolute;
            top: 0;
            margin-top: -3.125em;
            border:2px solid $gray-lighter;
            img {
               @include item-in-center;
            }
        }
    }
}
