{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "compact": false
}
