.animator {
  opacity: 1;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
.animator.fade-in {
  opacity: 1;
}
.animator.fade-out {
  opacity: 0;
}
