.h1 {
  font-family: 'monospace';
  text-shadow: 2px;
  font-size: 10px;
}

body {
  .h2 {
    display: none;
  }
}
/**
 * Dummy Example for checking autoprefixer
 */
:fullscreen a {
  display: flex
}