@import "../../../resources/css/scss/variables";
@import "../../../resources/css/scss/mixins";
@import "../../../resources/css/scss/components/white-box";

.home-container {
  padding: 60px;
}

.form-layout {
  &.white-box {
    @include white-box;
  }
  .title {
    max-width: 16rem;
    margin: 0 auto;
  }
}

