{
  "presets": [
    "react",
    "env"
  ],
  "ignore": [
    "**/jsdom/**"
  ],
  "plugins": [
    [
      "resolver", {
        "resolveDirs": [
          "node_modules"
        ]
      }
    ],
    [
      "module-resolver", {
        "alias": {
          "src": "../src"
        }
      }
    ],
    "lodash",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
