// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: ( sm: 1000px, md: 1100px, lg: 1200px) !default;
$screen-size-xl: 1200px !default;
$screen-size-lg: 992px !default;
$screen-size-md: 768px !default;
$screen-size-sm: 576px !default;
$screen-size-xs: 374px !default;

$h1-font-sm-size: 2.5rem !default;
$h2-font-sm-size: 2rem !default;
$h3-font-sm-size: 1.75rem !default;
$h4-font-sm-size: 1.5rem !default;
$h5-font-sm-size: 1.25rem !default;
$h6-font-sm-size: 1rem !default;


@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main, footer {
  animation: intro 0.7s both;
  animation-delay: 0.2s;
}

@media(max-width: $screen-size-md){
  h1, .h1 { font-size: $h1-font-sm-size; }
  h2, .h2 { font-size: $h2-font-sm-size; }
  h3, .h3 { font-size: $h3-font-sm-size; }
  h4, .h4 { font-size: $h4-font-sm-size; }
  h5, .h5 { font-size: $h5-font-sm-size; }
  h6, .h6 { font-size: $h6-font-sm-size; }
}


