.container {
    width: 100%;
    max-width: 75rem !important;
    position: relative;
}

.bg-gray-dark {
    background-color: $gray-dark !important;
}

.bg-gray-light {
    background-color: $gray-light !important;
    border-color: $gray-light !important;
}

.facebook-bg {
    background-color: $facebook-bg !important;
    border-color: $facebook-bg !important;
}

.googleplus-bg {
    background-color: $googleplus-bg !important;
    border-color: $googleplus-bg !important;
}

.white {
    color: $white !important;
}

.horizontal-line {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: -0.625rem;
    span {
        background: $white;
        padding: 0 0.5rem;
        font-weight: 600;
    }
    &:after {
        content: " ";
        display: block;
        width: 100%;
        border-bottom: 1px solid $gray-lighter;
        margin-top: -0.625rem;
    }
}

.py-6 {
    padding: 4rem 0 !important;
}
